@media screen and (max-width: 644px) {
	.banner {
		display: none;
	}
	.header {
		clear: both;
		width: 100%;
	}
	.header h4 {
		text-align: center;
	}
	.header img.header-logo {
		width: 100%;
		float: none;
		display: block;
		margin: auto;
	}
	.header .info {
		float: none;
		display: block;
		margin: auto;
		text-align: center;
	}

	div.main {
		width: 100%;
	}
	div.main .left-panel {
		width: 100%;
		float: none;
		display: block;
	}
	div.main .first-content {
		width: 100%;
	}
	.first-content img {
		float: none;
		display: block;
		margin: auto;
	}
	.first-content .text-content {
		float: none;
		display: block;
		width: 100%;
	}
	.second-content {
		width: 100%;
		text-align: center;
	}
	.second-content .content-box {
		float: none;
		display: inline-block;
		margin: 8px auto;
	}
	div.right-panel {
		float: none;
		width: 100%;
	}
	div.right-panel .item {
		margin: 8px auto;
	}

	div.footer {
		width: 100%;
	}
	div.footer .content {
		width: 100%;
	}
	.footer .content-box-1 {
		text-align: center;
	}
	.footer .content-box-1,.content-box-2,.content-box-3 {
		float: none !important;
		display: block !important;
		margin: auto !important;
	}
	a.page-top {
		left: 75%;
	}
	/*.mean-container .mean-nav ul li a img {
		display: block !important;
		margin: auto;
	}*/
	nav.mean-nav ul li a img {
		display: block !important;
		margin: auto;
	}

	li.subNav a {
		line-height: 47px;
		color: #000;
		text-decoration: none;
	}

	li.subNav a:hover {
		text-decoration: underline !important;
	}

	a {
		text-decoration: none !important;
	}
	nav.mean-nav {
		border:none;
	}
	nav.mean-nav ul li a {
		height: 50px !important;
	}
}